body { margin: 0; font-family: Arial; background: #f3f3f3; }

.navbar {
    background: #131921;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
}

.logo { font-size: 22px; font-weight: bold; }

#searchInput { padding: 8px; width: 40%; }

.categories {
    background: #232f3e;
    padding: 10px;
    text-align: center;
}

.categories button {
    margin: 5px;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
}

.hero {
    background: #ddd;
    padding: 40px;
    text-align: center;
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 20px;
    padding: 20px;
}

.product-card {
    background: white;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
}

.product-card img {
    width: 100%;
    height: 150px;
    object-fit: contain;
}

button { cursor: pointer; }
